<div class="container">
  <h1>Create New Match</h1>

  <form #createMatch="ngForm" (ngSubmit)="onSubmit(createMatch.value)">
    <br />

    <div>
      <div>
        <p>Pick Player1</p>
        <select name="player1" ngModel>
          <option *ngFor="let player of players">{{ player.name }}</option>
        </select>
        <p>Scores</p>
        <input type="number" min="0" name="score1" ngModel />
        <input type="number" min="0" name="score3" ngModel />
        <input type="number" min="0" name="score5" ngModel />
        <input type="number" min="0" name="score7" ngModel />
        <input type="number" min="0" name="score9" ngModel />
      </div>
      <br />
      <div>
        <p>Pick Player2</p>
        <select name="player2" ngModel>
          <option *ngFor="let player of players">{{ player.name }}</option>
        </select>
        <p>Scores</p>
        <input type="number" min="0" name="score2" ngModel />
        <input type="number" min="0" name="score4" ngModel />
        <input type="number" min="0" name="score6" ngModel />
        <input type="number" min="0" name="score8" ngModel />
        <input type="number" min="0" name="score10" ngModel />
      </div>
    </div>
    <br />
    <input type="submit" value="submit" />
  </form>
</div>
