/* Commonly used styling throughout the application */

// #region Fonts
@font-face {
  font-family: "Proxima-Soft";
  src: url("./assets/fonts/ProximaSoft-Medium.ttf");
}
// #endregion

// #region Colors  -  (this should really say "primary", "secondary" etc.)
$background-light: #eff3fa;
$white: #ffffff;
$black: #000000;
$light-purple: #8286ff;
$dark-purple: #4922ff;
$light-blue: #5497fc;
$dark-blue: #1b2559;
$light-grey: #707eae;
// #endregion

// #region body
body {
  font-family: "Proxima-Soft" !important;
  background-color: $background-light;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: $dark-blue;
}

p {
  font-size: 20px;
  font-weight: bold;
  color: $light-grey;
}
// #endregion

// #region Styles
@mixin boxShadow($reactive: null) {
  @if ($reactive != null) {
    &:hover {
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.6);
    }
  }
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

@mixin gradientPurple {
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    $light-purple 0%,
    $dark-purple 100%
  );
}
// is there something ike JSdoc for scss?
@mixin container($inputWidth: null, $inputHeight: null) {
  background-color: $white;
  border-radius: 20px;
  padding: 20px;
  @if ($inputWidth != null) {
    width: $inputWidth;
  }
  @if ($inputHeight != null) {
    height: $inputHeight;
  }
}

@mixin centeredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin centeredRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
// #endregion
